
<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, 'Home') %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to MindMap App!</h1>
        <p>An optimized annotation tools, which we use both hemispheres to remember the world. </p>
        <%= link_to "Sign up", new_user_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Create</h2>
          <p>The fast way to express your ideas via mindmap diagram.   </p>
         <p><a class="btn btn-default" href= "https://github.com/tienpx/Nhom12_K57CA/wiki/How-to-create-a-mind-map" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Share</h2>
          <p>The easy way to share your mindmap to your friends and invite them to develop it.</p>
          <p><a class="btn btn-default" href="https://github.com/tienpx/Nhom12_K57CA/wiki/How-to-share-your-mind-map-and-invite-your-friend-to-develop-it." role="button">View details &raquo;</a></p>
       </div>

        <div class="col-md-4">
          <h2>Save</h2>
          <p>The convenient way to save your mindmap in local devices as well as in web store.</p>
          <p><a class="btn btn-default" href="https://github.com/tienpx/Nhom12_K57CA/wiki/How-to-save-your-mind-map-in-local-devices-and-web-store." role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
  

  </body>
</html>
