<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <style type="text/css">
        h2 {
        	
        	text-align: center;
        	color: black;
        }
        
    </style>

    <title>Work space!</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>
      <%= render "header2" %>
 
      <div class="container">
        
        <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  

        <h2>Here is the work space for user</h2>
        <h2>We will draw interface here</h2>
        </br>



      </div>
    
  </body>

 </html>