<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Work space!</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <%= render "header2" %>

    <div class="container">
      
      <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  

      <center><h2>Here is the work space for user</h2></center>
      <center><h2>We will draw interface here</h2></center>
      </br>
    </div>
  </body>
</html>
