<<<<<<< HEAD
<header class="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

=======

<header class="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
>>>>>>> 82c67aaa45f3e9423e58af53af9c93f39f986eff
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <li><%= link_to "Mind Map", user_path(@user), id: "logo" %></li>
      </div>

      <nav>
        <ul class="nav pull-right">
         <li><%= link_to "Sign out", root_path %></li>
        </ul>
      </nav>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to @user.name, @user %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
