<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Let go!</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body id = "create">
    <%= render "header2" %>

    <div class="container">
      
      <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  

      <center><h2>You have signed up successfully</h2></center>
      <center><h2>Let start and enjoy yourself</h2></center>
      </br>

      <center> <input type="submit" value="Start" id="submit"/></center>
    </div>
  </body>

  </br> </br> </br> </br>
</html>
