<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <style type="text/css">
        body{
            background-image: url(/assets/bg4.jpg);
        }

        h2 {
        	
        	text-align: center;
        	color: black;
        }
        input#submit {
        	background: url(/assets/start.png) no-repeat;
        	width: 	100px;
        	height: 100px;
        	border: none;
        	text-indent: -99999999999999px;
        }
        
    </style>

    <title>Let go!</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>
      <%= render "header2" %>
 
      <div class="container">
        
        <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  

        <h2>You have signed up successfully</h2>
        <h2>Let start and enjoy yourself</h2>
        </br>

       <center> <input type="submit" value="Start" id="submit"/></center>

      </div>
    
  </body>

 </html>