// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#create {
    background-image: url(/assets/bg4.jpg);
}

input#submit {
	background: url(/assets/start.png) no-repeat;
	width: 	100px;
	height: 100px;
	border: none;
	text-indent: -99999999999999px;
}
