<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Create mindmap</title>
</head>

<body>
  <div id="tools_box">
    <button type="button" onclick="MMTools.new()">New</button>
  </div>
  <div id="draw_area">
    <svg id="draw_canvas"></svg>
  </div>
  <div id="library">
    <ul id="animal">
      <% @image_list.each do |image| %>
         <li><%= image_tag "lib/animal/#{image.split('/').last}" %></li>
      <% end %>
    </ul>
  </div>
  <div id="menu_bar">
    <button type="button" class="btn btn-group btn-lg">
      <span class="glyphicon glyphicon-saved"></span>
    </button>
    <button type="button" class="btn btn-group btn-lg">Load</button>
  </div>
</body>

</html>
