<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Create mindmap</title>
</head>

<body>
  <div id="tools_box">

  </div>
  <div id="draw_area">
    <canvas id="draw_canvas" width="800" height="600"></canvas>
  </div>
  <div id="library">

  </div>
  <div id="status_bar">
  </div>
</body>

</html>
