<div id="wrap">
  <div id="main" class="container clear-top"> 
  </div>
</div>
<footer class="footer">
	<nav>
	  <ul class="nav pull-left">
	    <p>&copy; G10-SE 2014</p>
	  </ul>          
  </nav>

	<nav>
	  <ul class="nav pull-right">
	    <li><a href="https://www.facebook.com/pitago1994">Contact us</a></li>
	  </ul>          
  </nav>

  <nav>
	  <ul class="nav pull-right">
	    <li><a href="https://github.com/tienpx/Nhom12_K57CA/wiki">About us</a></li>
	  </ul>          
  </nav>
</footer>
